<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

   <xacro:macro name="ffw_f_follower_body" params="prefix parent *origin">

      <xacro:include filename="$(find ffw_description)/urdf/common/follower/wrist_d401.urdf.xacro" />
      <xacro:include filename="$(find realsense2_description)/urdf/_d455.urdf.xacro" />
      <xacro:property name="meshes_file_direction" value="package://ffw_description/meshes/common/follower/ffw_f" />

      <joint name="${prefix}lift_joint" type="prismatic">
         <parent link="${parent}"/>
         <child link="${prefix}arm_base_link" />
         <xacro:insert_block name="origin" />
         <axis xyz="0 0 1" />
         <limit velocity="4.8" effort="1000" lower="-0.5" upper="0.0" />
         <dynamics damping="0.1" />
      </joint>

      <link name="${prefix}arm_base_link">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/body_arm_assy.stl" scale="0.001 0.001 0.001" />
            </geometry>
               <material name="white">
                  <color rgba="1 1 1 1"/>
               </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/body_arm_assy.stl" scale="0.001 0.001 0.001" />
            </geometry>
         </collision>
         <inertial>
            <origin xyz="4.1882462e-02 1.4554650e-03 -2.5285820e-02" />
            <mass value="6.4490633e+00" />
            <inertia ixx="9.3809741e-02" ixy="7.8446500e-05" ixz="-1.5832139e-03"
            iyy="4.6464206e-02" iyz="9.1672457e-04"
            izz="6.5473362e-02" />
         </inertial>
      </link>

      <joint name="${prefix}head_joint1" type="revolute">
         <parent link="${prefix}arm_base_link" />
         <child link="${prefix}head_link1" />
         <origin xyz="0.102729 0 0.116803" rpy="0 0 0" />
         <axis xyz="0 1 0" />
         <limit velocity="4.8" effort="1000" lower="-0.2317" upper="0.6951" />
         <dynamics damping="0.1" />
      </joint>
      <link name="${prefix}head_link1">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/head_link1.stl" scale="0.001 0.001 0.001" />
            </geometry>
               <material name="grey">
                  <color rgba="0.2 0.2 0.2 1"/>
               </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/head_link1.stl" scale="0.001 0.001 0.001" />
            </geometry>
         </collision>
         <inertial>
            <origin xyz="2.7487768e-03 0.000000000e+00 5.4082906e-02" />
            <mass value="9.9838595e-02" />
            <inertia ixx="4.7414543e-05" ixy="0.0000000e+00" ixz="-7.6052308e-06"
                     iyy="5.4526117e-05" iyz="0.0000000e+00"
                     izz="3.6058657e-05" />
         </inertial>
      </link>
      <joint name="${prefix}head_joint2" type="revolute">
         <parent link="${prefix}head_link1" />
         <child link="${prefix}head_link2" />
         <origin xyz="0.04 0 0.064" rpy="0 0 0" />
         <axis xyz="0 0 1" />
         <limit velocity="4.8" effort="1000" lower="-0.35" upper="0.35" />
         <dynamics damping="0.1" />
      </joint>
      <link name="${prefix}head_link2">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/head_link2.stl" scale="0.001 0.001 0.001" />
            </geometry>
               <material name="white">
                  <color rgba="1 1 1 1"/>
               </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/head_link2.stl" scale="0.001 0.001 0.001" />
            </geometry>
         </collision>
         <inertial>
            <origin xyz="-7.4491858e-03 1.2053096e-04  -1.5070119e-02" />
            <mass value="3.5688298e-01" />
            <inertia ixx="8.7199185e-04" ixy="-1.5932114e-06" ixz="5.7896139e-05"
            iyy="7.6012545e-04" iyz="-1.5726176e-06"
            izz="1.2441200e-03" />
         </inertial>
      </link>

      <xacro:sensor_d455 parent="${prefix}head_link2" use_nominal_extrinsics="false" name="${prefix}camera_head">
         <origin xyz="0.032705 0 -0.0255" rpy="0 0 0"/>
      </xacro:sensor_d455>

      <joint name="${prefix}arm_l_joint1" type="revolute">
         <parent link="${prefix}arm_base_link" />
         <child link="${prefix}arm_l_link1" />
         <origin xyz="0.0555 0.11345 0.014" rpy="0 0 0" />
         <axis xyz="0 1 0" />
         <limit velocity="4.8" effort="1000" lower="-3.14" upper="3.14" />
         <dynamics damping="0.1" />
      </joint>
      <link name="${prefix}arm_l_link1">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_l_link1.stl" scale="0.001 0.001 0.001" />
            </geometry>
               <material name="black">
                  <color rgba="0.2 0.2 0.2 1"/>
               </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_l_link1.stl" scale="0.001 0.001 0.001" />
            </geometry>
         </collision>
         <inertial>
            <origin xyz="1.6448037e-02  9.9818309e-02 -4.5551477e-04" />
            <mass value="1.2957512e+00" />
            <inertia ixx="1.4190215e-03" ixy="-7.0988830e-05" ixz="-1.9660982e-05"
            iyy="1.6025461e-03" iyz="3.3372718e-06"
            izz="1.6670278e-03" />
         </inertial>
      </link>
      <joint name="${prefix}arm_l_joint2" type="revolute">
         <parent link="${prefix}arm_l_link1" />
         <child link="${prefix}arm_l_link2" />
         <origin xyz="0.01845 0.10305 0" rpy="0 0 0" />
         <axis xyz="1 0 0" />
         <limit velocity="4.8" effort="1000" lower="0.0" upper="3.14" />
         <dynamics damping="0.1" />
      </joint>
      <link name="${prefix}arm_l_link2">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_l_link2.stl" scale="0.001 0.001 0.001" />
            </geometry>
               <material name="black">
                  <color rgba="0.2 0.2 0.2 1"/>
               </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_l_link2.stl" scale="0.001 0.001 0.001" />
            </geometry>
         </collision>
         <inertial>
            <origin xyz="-5.9392289e-03 3.5195037e-04 -1.5133153e-01" />
            <mass value="1.7167634e+00" />
            <inertia ixx="1.3437609e-02" ixy="-1.0665453e-05" ixz="-2.8782785e-03"
            iyy="1.4396813e-02" iyz="-1.5238823e-05"
            izz="2.5509015e-03" />
         </inertial>
      </link>
      <joint name="${prefix}arm_l_joint3" type="revolute">
         <parent link="${prefix}arm_l_link2" />
         <child link="${prefix}arm_l_link3" />
         <origin xyz="-0.01845 0 -0.20795" rpy="0 0 0" />
         <axis xyz="0 0 1" />
         <limit velocity="4.8" effort="1000" lower="-3.14" upper="3.14" />
         <dynamics damping="0.1" />
      </joint>
      <link name="${prefix}arm_l_link3">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_l_link3.stl" scale="0.001 0.001 0.001" />
            </geometry>
               <material name="black">
                  <color rgba="0.2 0.2 0.2 1"/>
               </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_l_link3.stl" scale="0.001 0.001 0.001" />
            </geometry>
         </collision>
         <inertial>
            <origin xyz="3.2294435e-02  4.5752619e-04 -1.0291055e-01" />
            <mass value="1.3438274e+00" />
            <inertia ixx="1.5293551e-03" ixy="8.3233996e-06" ixz="3.4936876e-04"
            iyy="1.7127088e-03" iyz="1.7484577e-05"
            izz="1.6269613e-03" />
         </inertial>
      </link>
      <joint name="${prefix}arm_l_joint4" type="revolute">
         <parent link="${prefix}arm_l_link3" />
         <child link="${prefix}arm_l_link4" />
         <origin xyz="0.0410041 0.00145 -0.11205" rpy="0 0 0" />
         <axis xyz="0 1 0" />
         <limit velocity="4.8" effort="1000" lower="-2.9361" upper="1.0786" />
         <dynamics damping="0.1" />
      </joint>
      <link name="${prefix}arm_l_link4">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_l_link4.stl" scale="0.001 0.001 0.001" />
            </geometry>
               <material name="black">
                  <color rgba="0.2 0.2 0.2 1"/>
               </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_l_link4.stl" scale="0.001 0.001 0.001" />
            </geometry>
         </collision>
         <inertial>
            <origin xyz="-3.7954451e-02  4.1746236e-03 -1.2520776e-01" />
            <mass value="1.4384162e+00" />
            <inertia ixx="5.2695396e-03" ixy="-1.4730567e-04" ixz="-4.9798908e-04"
            iyy="5.1958893e-03" iyz="-8.8888370e-04"
            izz="1.5929989e-03" />
         </inertial>
      </link>
      <joint name="${prefix}arm_l_joint5" type="revolute">
         <parent link="${prefix}arm_l_link4" />
         <child link="${prefix}arm_l_link5" />
         <origin xyz="-0.041 -0.00145 -0.14845" rpy="0 0 0" />
         <axis xyz="0 0 1" />
         <limit velocity="4.8" effort="1000" lower="-3.14" upper="3.14" />
         <dynamics damping="0.1" />
      </joint>
      <link name="${prefix}arm_l_link5">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_l_link5.stl" scale="0.001 0.001 0.001" />
            </geometry>
               <material name="black">
                  <color rgba="0.2 0.2 0.2 1"/>
               </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_l_link5.stl" scale="0.001 0.001 0.001" />
            </geometry>
         </collision>
         <inertial>
            <origin xyz="5.4154219e-04  5.0767999e-04 -9.1696376e-02" />
            <mass value="1.1154966e+00" />
            <inertia ixx="1.0637442e-03" ixy="1.8418778e-05" ixz="3.8365331e-06"
            iyy="9.0681200e-04" iyz="1.8440776e-06"
            izz="1.0249307e-03" />
         </inertial>
      </link>
      <joint name="${prefix}arm_l_joint6" type="revolute">
         <parent link="${prefix}arm_l_link5" />
         <child link="${prefix}arm_l_link6" />
         <origin xyz="0 0.00145 -0.09405" rpy="0 0 0" />
         <axis xyz="0 1 0" />
         <limit velocity="4.8" effort="1000" lower="-1.57" upper="1.57" />
         <dynamics damping="0.1" />
      </joint>
      <link name="${prefix}arm_l_link6">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_l_link6.stl" scale="0.001 0.001 0.001" />
            </geometry>
               <material name="black">
                  <color rgba="0.2 0.2 0.2 1"/>
               </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_l_link6.stl" scale="0.001 0.001 0.001" />
            </geometry>
         </collision>
         <inertial>
            <origin xyz="-1.0013518e-03  9.5279809e-03 -5.7082715e-02" />
            <mass value="6.0846757e-01" />
            <inertia ixx="8.7968670e-04" ixy="-6.6887920e-06" ixz="-1.2506699e-05"
            iyy="8.8787054e-04" iyz="-2.8951259e-04"
            izz="5.9665130e-04" />
         </inertial>
      </link>
      <joint name="${prefix}arm_l_joint7" type="revolute">
         <parent link="${prefix}arm_l_link6" />
         <child link="${prefix}arm_l_link7" />
         <origin xyz="-0.00025 -0.00145 -0.0775" rpy="0 0 0" />
         <axis xyz="1 0 0" />
         <limit velocity="4.8" effort="1000" lower="-1.5804" upper="1.8201" />
         <dynamics damping="0.1" />
      </joint>
      <link name="${prefix}arm_l_link7">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_l_link7.stl" scale="0.001 0.001 0.001" />
            </geometry>
               <material name="black">
                  <color rgba="0.2 0.2 0.2 1"/>
               </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_l_link7.stl" scale="0.001 0.001 0.001" />
            </geometry>
         </collision>
         <inertial>
            <origin xyz="5.1094689e-03  0.0000000e-03 -3.2688561e-02" />
            <mass value="1.5224775e-01" />
            <inertia ixx="8.2130877e-05" ixy="0.000000000e+00" ixz="3.1635130e-06"
            iyy="2.5115258e-04" iyz="0.000000000e+00"
            izz="2.3271592e-04" />
         </inertial>
      </link>
      <xacro:wrist_d401 parent="${prefix}arm_l_link7" name="${prefix}camera_left">
         <origin xyz="0.02675 0.0 -0.084575" rpy="-1.57079632679 1.57079632679 0"/>
      </xacro:wrist_d401>


      <joint name="${prefix}arm_r_joint1" type="revolute">
         <parent link="${prefix}arm_base_link" />
         <child link="${prefix}arm_r_link1" />
         <origin xyz="0.0555 -0.11345 0.014" rpy="0 0 0" />
         <axis xyz="0 1 0" />
         <limit velocity="4.8" effort="1000" lower="-3.14" upper="3.14" />
         <dynamics damping="0.1" />
      </joint>
      <link name="${prefix}arm_r_link1">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_r_link1.stl" scale="0.001 0.001 0.001" />
            </geometry>
               <material name="black">
                  <color rgba="0.2 0.2 0.2 1"/>
               </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_r_link1.stl" scale="0.001 0.001 0.001" />
            </geometry>
         </collision>
         <inertial>
            <origin xyz="1.6448037e-02 -9.9818309e-02  -4.5551476e-04" />
            <mass value="1.2957512e+00" />
            <inertia ixx="1.4190215e-03" ixy="7.0988830e-05" ixz="-1.9660982e-05"
            iyy="1.6025461e-03" iyz="-3.3372718e-06"
            izz="1.6670278e-03" />
         </inertial>
      </link>
      <joint name="${prefix}arm_r_joint2" type="revolute">
         <parent link="${prefix}arm_r_link1" />
         <child link="${prefix}arm_r_link2" />
         <origin xyz="0.01845 -0.10305 0" rpy="0 0 0" />
         <axis xyz="1 0 0" />
         <limit velocity="4.8" effort="1000" lower="-3.14" upper="0" />
         <dynamics damping="0.1" />
      </joint>
      <link name="${prefix}arm_r_link2">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_r_link2.stl" scale="0.001 0.001 0.001" />
            </geometry>
               <material name="black">
                  <color rgba="0.2 0.2 0.2 1"/>
               </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_r_link2.stl" scale="0.001 0.001 0.001" />
            </geometry>
         </collision>
         <inertial>
            <origin xyz="-5.9392289e-03 -3.5195036e-04 -1.5133153e-01" />
            <mass value="1.7167634e+00" />
            <inertia ixx="1.3437609e-02" ixy="1.0665453e-05" ixz="-2.8782785e-03"
            iyy="1.4396813e-02" iyz="1.5238822e-05"
            izz="2.5509015e-03" />
         </inertial>
      </link>
      <joint name="${prefix}arm_r_joint3" type="revolute">
         <parent link="${prefix}arm_r_link2" />
         <child link="${prefix}arm_r_link3" />
         <origin xyz="-0.01845 0 -0.20795" rpy="0 0 0" />
         <axis xyz="0 0 1" />
         <limit velocity="4.8" effort="1000" lower="-3.14" upper="3.14" />
         <dynamics damping="0.1" />
      </joint>
      <link name="${prefix}arm_r_link3">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_r_link3.stl" scale="0.001 0.001 0.001" />
            </geometry>
               <material name="black">
                  <color rgba="0.2 0.2 0.2 1"/>
               </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_r_link3.stl" scale="0.001 0.001 0.001" />
            </geometry>
         </collision>
         <inertial>
            <origin xyz="3.1694998e-02 -4.4338959e-04 -1.0357584e-01" />
            <mass value="1.3410672e+00" />
            <inertia ixx="1.5454533e-03" ixy="1.7451580e-05" ixz="3.4828413e-04"
            iyy="1.7071443e-03" iyz="8.7297254e-06"
            izz="1.6017098e-03" />
         </inertial>
      </link>
      <joint name="${prefix}arm_r_joint4" type="revolute">
         <parent link="${prefix}arm_r_link3" />
         <child link="${prefix}arm_r_link4" />
         <origin xyz="0.0410041 -0.00145 -0.11205" rpy="0 0 0" />
         <axis xyz="0 1 0" />
         <limit velocity="4.8" effort="1000" lower="-2.9361" upper="1.0786" />
         <dynamics damping="0.1" />
      </joint>
      <link name="${prefix}arm_r_link4">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_r_link4.stl" scale="0.001 0.001 0.001" />
            </geometry>
               <material name="black">
                  <color rgba="0.2 0.2 0.2 1"/>
               </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_r_link4.stl" scale="0.001 0.001 0.001" />
            </geometry>
         </collision>
         <inertial>
            <origin xyz="-3.9014457e-02 -4.0055016e-03 -1.2582887e-01" />
            <mass value="1.4316840e+00" />
            <inertia ixx="5.1424407e-03" ixy="1.4789155e-04" ixz="-4.5326324e-04"
            iyy="5.0698234e-03" iyz="8.5695616e-04"
            izz="1.5766489e-03" />
         </inertial>
      </link>
      <joint name="${prefix}arm_r_joint5" type="revolute">
         <parent link="${prefix}arm_r_link4" />
         <child link="${prefix}arm_r_link5" />
         <origin xyz="-0.041 0.00145 -0.14845" rpy="0 0 0" />
         <axis xyz="0 0 1" />
         <limit velocity="4.8" effort="1000" lower="-3.14" upper="3.14" />
         <dynamics damping="0.1" />
      </joint>
      <link name="${prefix}arm_r_link5">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_r_link5.stl" scale="0.001 0.001 0.001" />
            </geometry>
               <material name="black">
                  <color rgba="0.2 0.2 0.2 1"/>
               </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_r_link5.stl" scale="0.001 0.001 0.001" />
            </geometry>
         </collision>
         <inertial>
            <origin xyz="5.4154219e-04 -5.0768000e-04 -9.1696376e-02" />
            <mass value="1.1154966e+00" />
            <inertia ixx="1.0637442e-03" ixy="-1.8418778e-05" ixz="3.8365331e-06"
            iyy="9.0681200e-04" iyz="-1.8440776e-06"
            izz="1.0249307e-03" />
         </inertial>
      </link>
      <joint name="${prefix}arm_r_joint6" type="revolute">
         <parent link="${prefix}arm_r_link5" />
         <child link="${prefix}arm_r_link6" />
         <origin xyz="0 -0.00145 -0.09405" rpy="0 0 0" />
         <axis xyz="0 1 0" />
         <limit velocity="4.8" effort="1000" lower="-1.57" upper="1.57" />
         <dynamics damping="0.1" />
      </joint>
      <link name="${prefix}arm_r_link6">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_r_link6.stl" scale="0.001 0.001 0.001" />
            </geometry>
               <material name="black">
                  <color rgba="0.2 0.2 0.2 1"/>
               </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_r_link6.stl" scale="0.001 0.001 0.001" />
            </geometry>
         </collision>
         <inertial>
            <origin xyz="-1.0107158e-03 -9.6306409e-03 -5.7060109e-02" />
            <mass value="6.0283023e-01" />
            <inertia ixx="8.7595840e-04" ixy="6.7513068e-06" ixz="-1.2491106e-05"
            iyy="8.8727510e-04" iyz="2.8936150e-04"
            izz="5.9240937e-04" />
         </inertial>
      </link>
      <joint name="${prefix}arm_r_joint7" type="revolute">
         <parent link="${prefix}arm_r_link6" />
         <child link="${prefix}arm_r_link7" />
         <origin xyz="-0.00025 -0.00145 -0.0775" rpy="0 0 0" />
         <axis xyz="1 0 0" />
         <limit velocity="4.8" effort="1000" lower="-1.8201" upper="1.5804" />
         <dynamics damping="0.1" />
      </joint>
      <link name="${prefix}arm_r_link7">
         <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_r_link7.stl" scale="0.001 0.001 0.001" />
            </geometry>
               <material name="black">
                  <color rgba="0.2 0.2 0.2 1"/>
               </material>
         </visual>
         <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
               <mesh filename="${meshes_file_direction}/arm_r_link7.stl" scale="0.001 0.001 0.001" />
            </geometry>
         </collision>
         <inertial>
            <origin xyz="5.1094689e-03  0.0000000e-03 -3.2688561e-02" />
            <mass value="1.5224775e-01" />
            <inertia ixx="8.2130877e-05" ixy="0.000000000e+00" ixz="3.1635130e-06"
            iyy="2.5115258e-04" iyz="0.000000000e+00"
            izz="2.3271592e-04" />
         </inertial>
      </link>
      <xacro:wrist_d401 parent="${prefix}arm_r_link7" name="${prefix}camera_right">
         <origin xyz="0.02675 0.0 -0.08575" rpy="-1.57079632679 1.57079632679 0"/>
      </xacro:wrist_d401>

   </xacro:macro>

</robot>
