<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="ffw_sg2_table_camera_gazebo" params="prefix:=">
    <gazebo reference="${prefix}zedm_left_camera_frame">
      <sensor name="zedm_rgbd_camera" type="rgbd_camera">
        <always_on>true</always_on>
        <visualize>true</visualize>
        <update_rate>15.0</update_rate>
        <topic>zedm/rgbd_camera</topic>
        <gz_frame_id>${prefix}zedm_left_camera_frame</gz_frame_id>
        <camera>
          <horizontal_fov>1.3962634</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>10.0</far>
          </clip>
          <optical_frame_id>${prefix}zedm_left_camera_frame</optical_frame_id>
        </camera>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>
