<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ffw_follower">
  <xacro:arg name="robot" default="" />
  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="use_mock_hardware" default="false" />
  <xacro:arg name="mock_sensor_commands" default="false" />
  <!-- ros2_control and related configs do not use prefixes, so a non-empty prefix breaks bringup. -->
  <xacro:arg name="prefix" default="" />

  <xacro:property name="robot_name" value="$(arg robot)" />
  <xacro:property name="robot_config" value="${xacro.load_yaml('$(find ffw_description)/config/follower_robots.yaml')['robots'][robot_name]}" />
  <xacro:property name="model" value="${robot_config['model']}" />

  <xacro:include filename="$(find ffw_description)/urdf/follower/body/${robot_config['body']}.urdf.xacro" />
  <xacro:include filename="$(find ffw_description)/urdf/follower/base/${robot_config['base']}.urdf.xacro" />
  <xacro:include filename="$(find ffw_description)/urdf/follower/gripper/${robot_config['gripper']}.urdf.xacro" />
  <xacro:include filename="$(find ffw_description)/gazebo/follower/body/${robot_config['body']}.gazebo.xacro" />
  <xacro:include filename="$(find ffw_description)/gazebo/follower/base/${robot_config['base']}.gazebo.xacro" />
  <xacro:include filename="$(find ffw_description)/gazebo/follower/gripper/${robot_config['gripper']}.gazebo.xacro" />

  <xacro:follower_base prefix="$(arg prefix)" />

  <xacro:follower_body parent="$(arg prefix)base_link" prefix="$(arg prefix)">
    <origin xyz="${body_mount_xyz}" rpy="${body_mount_rpy}" />
  </xacro:follower_body>

  <xacro:follower_gripper prefix="$(arg prefix)" />

  <xacro:follower_base_gazebo prefix="$(arg prefix)" />
  <xacro:follower_body_gazebo prefix="$(arg prefix)" />
  <xacro:follower_gripper_gazebo prefix="$(arg prefix)" />

  <xacro:include filename="$(find ffw_description)/ros2_control/follower/ffw_follower.ros2_control.xacro" />
  <xacro:follower_ros2_control
      use_sim="$(arg use_sim)"
      use_mock_hardware="$(arg use_mock_hardware)"
      mock_sensor_commands="$(arg mock_sensor_commands)" />

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find ffw_bringup)/config/${model}/ffw_${robot_name}_follower_ai_hardware_controller.yaml</parameters>
    </plugin>
  </gazebo>
</robot>
