<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ffw_follower">
  <xacro:arg name="robot" default="" />
  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="use_mock_hardware" default="false" />
  <xacro:arg name="mock_sensor_commands" default="false" />
  <xacro:arg name="port_name" default="/dev/follower" />
  <!-- ros2_control and related configs do not use prefixes, so a non-empty prefix breaks bringup. -->
  <xacro:arg name="prefix" default="" />

  <xacro:property name="robot_name" value="$(arg robot)" />
  <xacro:property name="robot_config" value="${xacro.load_yaml('$(find ffw_description)/config/follower_robots.yaml')[robot_name]}" />
  <xacro:property name="body" value="${robot_config['body']}" />
  <xacro:property name="base" value="${robot_config['base']}" />
  <xacro:property name="end_tool" value="${robot_config['end_tool']}" />

  <xacro:include filename="$(find ffw_description)/urdf/follower/body/${body}.urdf.xacro" />
  <xacro:include filename="$(find ffw_description)/urdf/follower/base/${base}.urdf.xacro" />
  <xacro:include filename="$(find ffw_description)/urdf/follower/end_tool/${end_tool}.urdf.xacro" />
  <xacro:include filename="$(find ffw_description)/gazebo/follower/body/${body}.gazebo.xacro" />
  <xacro:include filename="$(find ffw_description)/gazebo/follower/base/${base}.gazebo.xacro" />
  <xacro:include filename="$(find ffw_description)/gazebo/follower/end_tool/${end_tool}.gazebo.xacro" />

  <xacro:follower_base prefix="$(arg prefix)" />

  <xacro:follower_body parent="$(arg prefix)base_link" prefix="$(arg prefix)">
    <origin xyz="${body_mount_xyz}" rpy="${body_mount_rpy}" />
  </xacro:follower_body>

  <xacro:follower_end_tool prefix="$(arg prefix)" />

  <xacro:follower_base_gazebo prefix="$(arg prefix)" />
  <xacro:follower_body_gazebo prefix="$(arg prefix)" />
  <xacro:follower_end_tool_gazebo prefix="$(arg prefix)" />

  <xacro:include filename="$(find ffw_description)/ros2_control/follower/ffw_follower.ros2_control.xacro" />
  <xacro:follower_ros2_control
      use_sim="$(arg use_sim)"
      use_mock_hardware="$(arg use_mock_hardware)"
      mock_sensor_commands="$(arg mock_sensor_commands)"
      port_name="$(arg port_name)" />

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find ffw_bringup)/config/follower/controllers/body/${body}.controller.yaml</parameters>
      <parameters>$(find ffw_bringup)/config/follower/controllers/base/${base}.controller.yaml</parameters>
      <parameters>$(find ffw_bringup)/config/follower/controllers/end_tool/${end_tool}.controller.yaml</parameters>
    </plugin>
  </gazebo>
</robot>
